name: NASA Project CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.job
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install dependencies
        run: npm install
      - name: Install client dependencies
        run: npm install --prefix client
      - name: Install server dependencies
        run: npm install --prefix server
      - name: Build client
        run: npm run build --prefix client
      - name: Run tests
        run: npm test
