name: NASA Project CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MONGO_URL: ${{ secrets.MONGO_URL }}
    strategy:
      matrix:
        node-version: [18.x, 20.x]
        mongodb-version: [6.0]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js version ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: Install dependencies
        run: npm install
      - name: Install client dependencies
        run: npm install --prefix client
      - name: Install server dependencies
        run: npm install --prefix server
      - name: Build client
        run: npm run build --prefix client
      - name: Run tests
        run: npm test
